* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
}

.body-timer {
  height: 100%;
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  background-size: 100%;
}

.timer {
  display: flex;
  flex-direction: row;

  font-size: 52px;
  font-weight: 600;
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.field {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 24px;
}

.timer-button {
  padding: 1px 15px;
  margin-left: 10px;
  font-weight: 600;
}
